{% extends 'website/base.html' %}

{%block title%} NAVEEN NATARAJAN {%endblock%}

{%block selected%}
 		<li class="selected"><a href="/naveen/">HOME</a></li>
          <li><a href="/naveen/resume">RESUME</a></li>
          <li><a href="/naveen/courses">COURSES</a></li>
          <li><a href="/naveen/contact/">CONTACT</a></li>
 {%endblock%}

 {%block body%}
 	    <br><br><br>
        <h1><b>Hi...</b></h1>
        <p>My name is Naveen Natarajan. I graduated with a Masters Degree in Computer Science from <a href="http://cs.jhu.edu/" target="blank">Johns Hopkins University</a> in May 2013. 
	    I did my Bachelors in Information Technology from Anna University, India(2011).</p> 

	 <p>  I am currently working with <a href="http://www.dowjones.com/" target="blank"> Dow Jones</a> as a
           "Product Technologist - Application Development & Infrastructure" from July 2013.Before that during the summer of 2012 I did an internship with the Database Services team at the <a href="http://www.chop.edu/" target="blank"> 
            Children's Hospital of Philadelphia.</a> </p> 	

        <p>My interests are in Data Engineering, Query Processing & Optimization, Databases (SQL & NoSQL), Big Data Analytics, Management & related application domains.</p>
 {%endblock%}