<!DOCTYPE HTML>
<html>

<head>
  <title>NAVEEN NATARAJAN</title>
  <meta name="description" content="Naveen Natarajan Website" />
  <meta name="keywords" content="Naveen Natarajan, courses" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="style/style.css" />
  <link rel="shortcut icon" href="n.jpg" />
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
         <h1>NAVEEN NATARAJAN</h1>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <li><a href="index.html">HOME</a></li>
          <li><a href="resume.html">RESUME</a></li>
          <li class="selected"><a href="courses.html">PROJECTS</a></li>
          <li><a href="contact.html">CONTACT</a></li>
        </ul>
      </div>
    </div>
    <div id="site_content">
      <div class="sidebar">
        <h1>Links</h1>
        <ul>
          <li><a href="http://naveen790.blogspot.com/" target="blank"> My Blog</a></li>
          <li><a href="https://www.google.com/">Google</a></li>
        </ul> 
		<img style="width: 250px; height: 220px;" alt="me" src="image.jpg"><br>
      </div>
	  <div id="content">
        <h1><b>Graduate Courses & Projects</b></h1>
        <h3><b><u>Fall 2011</u></b></font></h3>
		<ul>
		  <li> Theory of Computation </li>
		  <li> Parallel Programming </li>
		  <li> Database Systems </li>
		</ul>
		<h3><b><u>Spring 2012</u></b></font></h3>
		<ul>
		  <li> Algorithms </li>
		  <li> Computer Graphics </li>
		  <li> Healthcare Security Management </li>
		  <li> Artificial Intelligence</li>
		  <li> Working on <a href="courses.html#mastersproject">MDDB</a> project </li>
		</ul>
		<h3><b><u>Summer 2012</u></b></font></h3>
		<ul>
		  <li> Internship at <a href="http://www.chop.edu/" target="blank"> The Children's Hospital of Philadelphia </a> </li>
		</ul>
		<h3><b><u>Fall 2012</u></b></font></h3>
		<ul>
		  <li> Object Oriented Software Engineering </li>
		  <li> Big Data, Small Language & Scalable Systems </li>
		  <li> Data Intensive Computing </li>
		  <li> Machine Learning (Audit)</li>
		  <li> Working on <a href="courses.html#mastersproject">MDDB</a> project </li>
		</ul>
              <h3><b><u>Spring 2013</u></b></font></h3>
		<ul>
		  <li> Information Retrieval & Web Agents </li>
		  <li> Working on <a href="courses.html#mastersproject">MDDB</a> project </li>
		</ul>

		<h3><b><a href="ugcourses.pdf" target="blank">Undergraduate Course List</a></b></h3> 
		<h2><b>Projects</b></h2>

		<a name="mastersproject"></a>

		<h4><b> Enhancing Customer Support Website</h4></b>
		<h6>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Dow Jones</h6>
		<h6><b><u> Technology Used:</u> Java, JavaScript</b></h6><br>
		<p>Included a time out to lock the screen and display password prompt after a certain time interval. Lock the screen and display the password prompt when certain
		   features are clicked. Display and hide certain features for different kinds of users. </p><br><br>


		<h4><b> Generating Chat Reports</h4></b>
		<h6>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Dow Jones</h6>
		<h6><b><u> Technology Used:</u> Pentaho, Java, JavaScript, Oracle</b></h6><br>
		<p>Designed pentaho process to generate hourly and daily chat reports. </p><br><br>

		<h4><b> Molecular Dynamics Database(MDDB)</h4></b>
		<h6>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;February 2012 - May 2013</h6>
		<h6><b><u> Technology Used:</u> Python, Greenplum/PostgreSQL, ETL process, Query Processing & Optimization.</b></h6><br>
		<p>This is an adaptive control system used for scientific simulations. I designed a common parser to parse Charmm, Gromacs, Amber energy file formats using python scripts.
                 This involved implementing ETL process in which I extracted data from different kind of files, cleaned the data, transformed and loaded it into a Greenplum database. 
                 Designed a schema for the database and ways to efficiently load and manage the data in the database which is in the order of terabytes. Came up with new queries and designed 
                 queries to query the data efficiently and analyze them. I also worked on the optimization of these queries.</p><br><br>
		
		<h4><b> Comparison of Parallel DBMS(MPP) and Distributed DBMS (NoSQL) </b></h4>
		<h6>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;October - December 2012
		<h6><b><u> Technology Used:</u> Greenplum , Cassandra, HBase</b></h6><br>
		<p>Parallel and distributed DBMS are used to manage large amounts of data. In this I compared if massively parallel database management system (MPP) can offer the same or 
		   comparable or better performance and scalability than a distributed database system (NoSQL) on different datasets. I compared and benchmarked these three databases on 
                 performance, I/O operations, throughput and scalability. The limitation and advantages of these different systems were analyzed in detail.</p> <br><br>

				
		<h4><b> Comparison of Iterative Processing of Large Data Sets in Hadoop and HaLoop </b></h4>
		<h6>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;October - December 2011</h6>
		<h6><b><u> Technology Used:</u> Java, Hadoop and HaLoop frameworks.</b></h6><br>
		<p>Hadoop is a widely used MapReduce framework for processing large data in parallel.The Hadoop platform lacks built-in support for iterative programs, which
		arise naturally in many applications including data mining, web ranking, graph analysis, model fitting, and so on. In order to perform the iterative
		processing on data in better way, a modified version of the Hadoop MapReduce framework called HaLoop. HaLoop not only extends MapReduce with programming
		support for iterative applications, it also dramatically improves their efficiency by making the task scheduler loop-aware and by adding various caching
		mechanisms. I evaluated both the frameworks real large datasets such as Twitter tweets. The limitation and advantages of both the frameworks were analyzed in 
		detail.Hadoop is a widely used MapReduce framework for processing large data in parallel.</p> <br><br>

		<h4><b> Paper Bot - Distributed Information Retrieval System </b></h4>
		<h6>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;April - May 2013</h6>
		<h6><b><u> Technology Used:</u> Python, Web Scraping, Web Robots, HTML.</b></h6><br>
		<p>Paper Bot is a meta-search engine that blends the top web search results from Google, Microsoft and Citeseer. Distributed information retrieval comes into play when a 
		   user wants to get information from different sources in parallel. It utilizes collection fusion algorithms to compile results from many of the Web's major search properties,
		   delivering more relevant and comprehensive results every time a search is done. </p> <br><br>


		<h4><b> Jay List - An Android Application </b></h4>
		<h6>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;September - December 2012</h6>
		<h6><b><u> Technology Used:</u> Java, Android Programming.</b></h6><br>
		<p>Jay List is an android application which is used to help Hopkins students to post and search about housing, buy and sell things within the Hopkins community.
                 This uses the REST architecture. I was involved in both the server side development and the development of Android side functions.
                 I developed the server side of the application using components such as Hibernate, Apache Tomcat server, XML and JSP for communicating with the client. </p> <br><br>

	    </div>
    </div>
    <div id="footer">
      <p><a href="index.html">HOME</a> | <a href="resume.html">RESUME</a> | <a href="courses.html">COURSES</a> | <a href="contact.html">CONTACT</a></p>
	  <p> Naveen Natarajan 2014<p>
      </div>
  </div>
</body>
</html>
